.cards {
  display: flex;
}

.cards > div {
  flex: 1;
}

.cards > :not(:last-child) {
  margin-right: 45px;
}

@media (max-width: 1100px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 30px;
  }

  .cards > :not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 450px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px 0;
  }
}
